body {
	margin: 0;
	font-family: Roboto, HelveticaNeue-Light, Helvetica, Arial;
}

li:focus,
p:focus,
div:focus,
img:focus,
span:focus{
  	outline:none !important;
  	border: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
  min-width: 100%;
  width: 100%;
  border: 1px solid red;
}

.container .bar {
  border: 1px solid orange;
  padding: 3em;
  min-width: 500px;
}

.container .bar .search {
  padding-top: 1em;
    border: 1px solid blue;
}

.container .bar .locate {
  display: flex;
  align-items: center;
  justify-content: center;
    border: 1px solid green;
}

.container .bar .bar-button {
    cursor: pointer;
    outline:none !important;
    border: 0;
}

.window {
	border: 1px solid blue;
	min-width: 500px;
}

.window .weather-content .highlight {
	padding-bottom: 0;
}

.window .weather-content .highlight > * {
	border-bottom: 1px solid grey;
}

.window .weather-content .highlight .highlight-text {
	padding: 0.5em;
}

.window .weather-content .highlight .highlight-text > * {
	margin: 0;
	font-weight: 100;
	padding-bottom: 0.3em;
}

.window .weather-content .highlight .highlight-text > h2 {
	font-weight: normal;
}

.window .weather-content .highlight .highlight-icon ul {
	height: 100%;
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-weight: 100;
}

.window .weather-content .highlight .highlight-icon li:first-child {
	font-size: 2.5em;
	color: #454545;
}

.window .weather-content .highlight .highlight-icon li:nth-child(2) {
	font-size: 1.2em;
}

.window .weather-content .main-features {
	padding-top: 0;
}

.window .weather-content .main-features div {
	border-bottom: 1px solid grey;
	padding: 0.2em 20% 0.2em 20%;
}

.window .weather-content .main-features div ul:nth-child(2) li:first-child {
	font-size: 1.6em;
}
