<div class="other-features" layout="column" layout-align="center center">
    <ul layout="row">
        <li class="other-features-left" flex="50" layout-align="end">
            <ul layout="row" layout-align="space-between">
                <li><i ng-class="data.otherFeaturesIcon.sunrise"></i></li>
                <li>Sunrise</li>
            </ul>
        </li>
        <li class="other-features-right" flex="50">{{data.sunrise.formattedTime}}</li>
    </ul>
    <ul layout="row">
        <li class="other-features-left" flex="50" layout-align="end">
            <ul layout="row" layout-align="space-between">
                <li><i ng-class="data.otherFeaturesIcon.sunset"></i></li>
                <li>Sunset</li>
            </ul>
        </li>
        <li class="other-features-right" flex="50">{{data.sunset.formattedTime}}</li>
    </ul>
    <ul layout="row">
        <li class="other-features-left" flex="50" layout-align="end">
            <ul layout="row" layout-align="space-between">
                <li><i ng-class="data.otherFeaturesIcon.humidity"></i></li>
                <li>Humidity</li>
            </ul>
        </li>
        <li class="other-features-right" flex="50">{{data.humidity.val}} {{data.humidity.unit}}</li>
    </ul>
    <ul layout="row">
        <li class="other-features-left" flex="50" layout-align="end">
            <ul layout="row" layout-align="space-between">
                <li><i ng-class="data.otherFeaturesIcon.pressure"></i></li>
                <li>Pressure</li>
            </ul>
        </li>
        <li class="other-features-right" flex="50">{{data.pressure.val}} {{data.pressure.unit}}</li>
    </ul>
</div>
